Options +FollowSymLinks -MultiViews -Indexes
DirectorySlash Off

RewriteEngine On

#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.html [QSA,L]

# 1 Month for most static assets
<filesMatch ".(css|js|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>